:root {
  --light-green: #86C526;
  --dark-green: #235339;
  --light-gray: #f7f7f7;
  --dark-gray: #f0f0f0;
  --white: #fff;
}

@font-face {
  font-family: 'Engravers Gothic';
  src: url(/src/assets/fonts/ENGRGOTN.TTF);
}

@font-face {
  font-family: 'Engravers Gothic Bold';
  src: url(/src/assets/fonts/EngraversGothic-Bold.woff2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: 'Engravers Gothic';  
}

a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

ul {
  list-style: none;
}

main {
  background-color: var(--white);
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
}