:root {
  --primary-light-hsl: 200, 100%, 91%;
  --primary-hsl: 200, 100%, 50%;
  --primary-dark-hsl: 200, 100%, 6%;
  --success-hsl: 100, 60%, 50%;
  --error-hsl: 0, 60%, 50%;
  --white: #fff;
}

@font-face {
  font-family: Engrgotn;
  src: url(/src/assets/fonts/ENGRGOTN.TTF);
}

@font-face {
  font-family: EngrgotnBold;
  src: url(/src/assets/fonts/FontsFree-Net-Engravers-Gothic-W01-Bold.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: Engrgotn;
}

a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

ul {
  list-style: none;
}

main {
  background-color: var(--white);
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
}